body {
    background-color: white;
    font-family: "Poppins", Arial, sans-serif;
    line-height: 1.8;
    font-weight: 400;
    color: #999999;
    width: 100%;
    overflow-x: hidden;
}



#mainnavbar .nav-link:hover {
    color: black;
}

#mainnavbar .nav-link {
    color: #f9ab30;
    font-size: 1.5rem;

}

#mainnavbar .navbar-brand {
    color: #f9ab30;
    font-size: 2rem;
}

.banner {
    background: url("img/mainimg.jpg") no-repeat top;
    height: 100vh;
    width: 101%;
    background-size: cover;
}

@media (max-width:760px) {
    .headingtext {
        font-size: 4rem;
    }
}


.info {
    background-color: #e9f5db;
}

.icon1 {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    padding-left: 60px;
    padding-right: 20px;
    padding-top: 80px;
    padding-bottom: 80px;
}

h3 {
    color: #f9ab30;
}

.slogan {
    margin-top: 25px;
    font-weight: 550;
}


h2 {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: #f9ab30;
    font-weight: 550;
}

.h1 {
    color: #f9ab30;
}

.img {
    width: 100%;
    border-radius: 5px;
}


.footer {
    background-image: linear-gradient(to right bottom, rgba(0, 0, 0, 0.849), rgba(0, 0, 0, 0.863)), url("img/footerimg.jpg");
    height: 100%;
    /* width: 100%; */
    background-size: cover;
    background-position: center;


}

.carousel-item {
    position: relative;
}

.carousel-caption {
    position: absolute;
    bottom: 50%;
    transform: translate(0, 50%);
}

.reg-container {
    margin-top: 80px;
    margin-bottom: 100px;
    /* margin: 10px 100px 10px 80px; */
}

.reg-img {
    background-image: url("img/booking-img.jpg");
}

.bgimg {
    background-image: url("img/booking-img.jpg");
}

.text-center {
    margin-top: 100px;
}

/* .item img {
    height: 280px;
} */

/*
<div class="col-m-12 col-6">
                <img src="img/tour-guide.png" alt="">
                <h3 class="text-dark">Private Guid</h3>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Reprehenderit nesciunt, dolorum
                    molestias
                    numquam voluptates ipsam eius porro eligendi omnis ea.</p>
            </div>
            <div class=" col-m-12 col-6">
                <img src="img/map.png" alt="">
                <h3 class="text-dark">Location Manager</h3>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Reprehenderit nesciunt, dolorum
                    molestias
                    numquam voluptates ipsam eius porro eligendi omnis ea.</p>
            </div>*/